@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<adresse>
    Bell Canada is a Canadian telecommunications company headquartered in Montreal, Quebec, Canada. <br />
    It is the incumbent local exchange carrier for telephone and DSL Internet services in most of Canada east <br />
    of Saskatchewan and in the northern territories. Wikipedia<br />
</adresse>

<adresse>
    <h4>Customer service: 1 (866) 301-1942 </h4>

    <h5>CEO: Mirko Bibic (Jan. 2020–)</h5>
    <h5>Headquarters: Montreal</h5>
    <h5>Founder: Charles Fleetford Sise</h5>
</adresse>
